<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/admin/dashboard" class="app-brand-link mb-3 pt-2">
      <span class="app-brand-logo demo">
        <img src="/img/timeless-favicon.png" alt="">
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2"></span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
      <a href="/admin/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Painel principal</div>
      </a>
    </li>  

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Páginas</span>
    </li>   
    <li class="menu-item">
      <a href="/admin/customer_management" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Clientes</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/farmacias" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Farmácias</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/categories" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Categorias</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/banner_management" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Anúncios</div>
      </a>
    </li> 
    <li class="menu-item">
      <a href="/admin/mail_management" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Emails Recebidos</div>
      </a>
    </li>          

  </ul>
</aside> 